*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
body{
    width: 100%;
    background-image: url(images/oops.jpg);
    background-size: cover;
   
}
.validation{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 198px 440px;
    background-color: aliceblue;
    border-radius: 36px;
    width: 640px;
    height: 322px
}
.number{
    display: flex;
    margin-top: 36px;
}
.phone{
    display: flex;
    margin-top: 62px;
    margin-right: 62px;
}
.date{
    justify-content: space-evenly;
    margin-top: 36px;
}
button{
    outline: none;
    background: none;
    cursor: pointer;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: lavender;
}
input {
    border-top: 1px solid ivory;
    background: transparent;

}
input.personalNumber{
    font-size: 15px;
    width: 174px;
    /* width: 205px; */
    font-family: 'Iceland', cursive;
}
input.phoneNum{
    font-size: 15px;
    width: 139px;
    font-family: 'Iceland', cursive;
}
input.dateOfBirth{
    font-size: 15px;
    width: 151px;
    /* width: 205px; */
    font-family: 'Iceland', cursive;
}

::placeholder{
    font-size: 15px;
}
.numberSubmit{
    font-size: 10px;
}
.phoneSubmit{
    font-size: 10px;
}
.dateSubmit{
    font-size: 10px;
}
